.container-transition {
   transition: .5s;
   box-shadow: 0 10px 20px rgba(110, 71, 53, 0.3), 0 4px 8px rgba(0,0,0,.06);
}

.container-transition:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(110, 71, 53, 0.3), 0 4px 8px rgba(0,0,0,.06);
}